@model ExpirationDate.Models.LoginViewModel

<div class="registration-authorization-container">
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p>
            <a asp-controller="Account" asp-action="Register">Register as a new user</a>
        </p>
    </form>
</div>