html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #cccccc;
}

.main-menu {
    background-color: #ccffff !important;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 90%;
    width: 200px;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.main-menu-container {
    display: flex;
    flex-direction: column;
    background-color: #ccffcc;
    text-align: center;
    font-size: 20px;
}

.home-preview-text {
    position: relative;
    font-size: 20px;
    text-align: center;
    left: 50px;
}

.main-menu a:hover {
    background-color: #ccccff;
    color: #6666ff;
}

.main-menu a:active {
    background-color: #222;
    color: #ff0;
}
.language-container {
    position: absolute;
    top: 10px;
    right: 5%;
    height: 20px;
    width: 50px;
}
.registration-authorization-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
}
.item-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
}