@using ExpirationDate.Controllers
@inject Microsoft.Extensions.Localization.IStringLocalizer<HomeController> localizer
@*
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
*@

@{
    ViewData["Title"] = localizer["Home"];
    string companyName = "ExpirationDate";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Account" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    }
    <div class="text-center">
        <p>
            <b>@companyName -</b>
            @localizer["TextPreview"]
        </p>
    </div>
</div>
